body{
        background: #C0C0C0;
    }
table{
margin: 80px 400px;
border: 2px hotpink;
padding:10px 30px ;
border:50px;
background:#FFFFFF;
box-shadow:0px 8px 16px 0px rgba(0,0,0,0.5);
}

td{
	font-size:30px;
  }
	
input[type='text']
{
	border:2px solid blue;
	margin-left:30px;
	width:300px;
	height:30px;
}
input[type='password']
{
	border:2px solid blue;
	margin-left:30px;
	width:300px;
	height:30px;
}
input[type='submit']
{
	font-size:20px;
	border-radius:30px;
	padding:10px 200px;
	margin-top:10px;
    background:#000000;
    color:white;
}
input[type='submit']:hover
{
	border:  2px hotpink;
}
	

p{  
 color:black;
	font-weight:bold;
	font-size:25px;
	margin-top:5px;
	margin-left:-35px;
}